$grey-colors: #b3b3b3;
$red-color: #ff4d4d;

// .bg-black {
//   background-color: black;
// }
.first-nav {
    button {
        color: $red-color;
    }
    a {
        color: black;
    }
}
.second-nav {
    background-color: black;
    .navbar-nav {
        color: #fff !important;
        font-weight: bold;
    }
}
a.navbar-brand {
    color: $red-color !important;
    font-weight: bold;
    letter-spacing: 4px;
}

.search-btn {
    outline: none;
}
.search-btn[type="search"] {
    -webkit-appearance: textfield;
    //   -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
.search-btn::-webkit-search-decoration,
.search-btn::-webkit-search-cancel-button {
    display: none;
}

.search-btn[type="search"] {
    background: $grey-colors
        url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png)
        no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.search-btn[type="search"]:focus {
    width: auto;
    background-color: #fff;
    border-color: $red-color;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

.seach-btn:-moz-placeholder {
    color: #999;
}
.seach-btn::-webkit-input-placeholder {
    color: #999;
}
.logout-btn {
    display: inline-block;
}
